/*   --------------------   CUSTOM PROPERTIES   --------------------   */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;800&display=swap');

:root {
    /* --first-color: #D90062; */
    /* --first-alpha-color: rgba(217, 0, 98, 0.75); */
    /* --second-color: #14192D;
    --second-alpha-color: rgba(20, 25, 45, 0.75); */
    --third-color: #501464;
    --third-alpha-color: rgba(80, 20, 100, 0.75);
    
    --first-color: #001130;
    --first-alpha-color: #0a004bab;
    --second-color: rgb(224, 218, 255);
    --second-alpha-color: rgba(22, 51, 216, 0.247);
    --white-alpha-color: #bcdbff6c;



    --white-color: #FFF;
    --gray-light-color: #F3F3F3;
    --gray-color: #CCC;
    --gray-dark-color: #666;
    --black-color: #000;

    --link-color: #509EE3;
    --title-color: #333;
    --text-color: #222;

    /* --white-alpha-color: rgba(255,255,255,0.3); */
    --black-alpha-color: rgba(0,0,0,0.3);

    --font: 'Montserrat', sans-serif;

    --max-width: 1200px;
    --header-height: 4rem;
}


/* 
.color1 {color: #002c41;}  Menú y Textos
.color2 {color: #004d67;}
.color3 {color: #007a95;}
.color4 {color: #00b6cb;}
.color5 {color: #00ffff;}
 */



/*   --------------------   RESET   --------------------   */

html {
    box-sizing: border-box;
    font-family: var(--font);
    font-size: 16px; /*1 rem*/
    scroll-behavior: smooth;
}

*, *::after, *::before {
    box-sizing: inherit;
}

body {
    margin: 0px;
    /* overflow-x: hidden; */
    color: var(--text-color);
}

a {
    color: var(--link-color);
    /* transition: all 0.5s ease-out; */
}

a:hover {
    opacity: 0.75;
}

h1 {
    margin: 0;
    font-size: 2rem;
}
h2 {
    margin: 0;
    font-size: 1.5rem;
}
h3 {
    margin: 0;
    font-size: 1.25rem;
}
h4 {
    margin: 0;
    font-size: 1rem;
}
h5 {
    margin: 0;
    font-size: 0.85rem;
}
h6 {
    margin: 0;
    font-size: 0.7rem;
}

img {
    max-width: 100%;
    height: auto;
}

p {
    line-height: 1.6;
}




/*   --------------------   COMPONENTS   --------------------   */

/*  ---   CAROUSEL   ---   */
@keyframes carousel-slide {
    0%  { transform: translateX(  0%); }
    25% { transform: translateX(-25%); }
    50% { transform: translateX(-50%); }
    75% { transform: translateX(-75%); }
}

.carousel {
    margin: 2rem auto;
    padding: 2rem 0;
    max-width: 300px;
    text-align: center;
    overflow-x: hidden;
    background-color: var(--carousel-bg-color);
}

.carousel input {
    display: none;
}

.carousel label {
    border: medium solid var(--gray-dark-color);
    border-radius: 50%;
    margin: 0 0.25rem;
    display: inline-block;
    width: 0.75rem;
    height: 0.75rem;
    cursor: pointer;
}

.carousel .slides {
    padding-left: 0;
    width: 400%;  /* Sumar 100% por cada Slide agregado. */
    display: flex;
    list-style: none;
    transition: transform 500ms ease-in-out ;
    /* animation: carousel-slide 12s ease-in-out 3s; */
}

.slide {
    font-size: small;
    min-width: 300px;
    /* border: thick solid black; */
}

.enlace-certificado { 
    margin: .75rem 0;
}

.enlace-certificado a {
    color: var(--first-color); 
}

#slide-1:checked ~.slides{ transform: translateX(  0%); }
#slide-2:checked ~.slides{ transform: translateX(-25%); }
#slide-3:checked ~.slides{ transform: translateX(-50%); }
#slide-4:checked ~.slides{ transform: translateX(-75%); }

#slide-1:checked ~.slides-nav label#dot-1,
#slide-2:checked ~.slides-nav label#dot-2,
#slide-3:checked ~.slides-nav label#dot-3,
#slide-4:checked ~.slides-nav label#dot-4 {
    background-color: var(--gray-dark-color);
}




/*  ---   CONTACT FORM   ---   */

.contact-form {
    margin: 2rem auto;
    padding: 1rem;
    max-width: 800px;
}

.contact-form > * {
    padding: .5rem;
    margin: 1rem auto;
    width: 100%;
}

.contact-form input {
    border: 0;
    padding-left: 0;
    border-bottom: thin solid var(--gray-dark-color);
}

.contact-form textarea {
    border: thin solid var(--gray-dark-color);
    resize: none;
}

.contact-form input[type="submit"] {
    margin-top: 0;
    cursor: pointer;
    transition: .5s ease-out;
}

.contact-form input[type="submit"]:hover {
    opacity: 75%;
}

.contact-form *::placeholder {
    color: var(--gray-dark-color);
}

.contact-form-response {
    padding: 1rem;
    width: 400px;
    text-align: center;
    background-color: var(--white-color);
}

.contact-form-response svg {
    margin-top: 2rem;
    width: 4rem;
    height: 4rem;
    fill: var(--first-color);
}

.contact-form input, 
.contact-form textarea {
    font-size: .85rem;
    font-family: var(--font);
}

.modal#gracias:target {
    opacity: 1;
    pointer-events: auto;
}

@media screen and (min-width: 1024px) {
    .contact-form {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 1rem;
    }

    .contact-form textarea,
    .contact-form-loader {
        grid-column: span 2;
    }

    .contact-form input,
    .contact-form textarea {
        font-size: 1rem;
    }

    .contact-form input[type="submit"] {
        margin-left: 0;
    }
}


/*  ---   HERO IMAGE   ---   */
.hero-image {
    background-image: var(--hero-image);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: var(--hero-attachment);
}

/* Esta mrd se usa en ambas Hero Image*/
.hero-image-opacity {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: var(--hero-opacity-color);
}

.hero-image-title {
    font-size: 7vw;
    margin-bottom: 2rem;
    color: var(--hero-text-color);
}




/*  ---   MENU   ---   */
.menu-btn {
    outline: thin solid var(--second-color);
    border: 0;
    cursor: pointer;
    background-color: var(--first-color);
}

.menu-btn svg {
    fill: var(--second-color);
}

.menu {
    position: fixed;
    left: 0;
    bottom: var(--header-height);
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: var(--first-color);
    opacity: 0;
    pointer-events: none;
    /* transition: opacity 333ms ease; */
}

.menu.is-active {
    opacity: 1;
    pointer-events: auto;
}

.menu a {
    padding: 1rem;
    font-size: 1.4rem;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    color: var(--white-color);
}

.menu a:hover {
    color: var(--first-color);
    background-color: var(--second-color);
}


@media screen and (min-width: 1024px) {
    .menu-btn {
        display: none;
    }

    .menu {
        position: static;
        width: auto;
        opacity: 1;
        pointer-events: auto;
        flex-direction: row;
    }

    .menu a { padding: 0 1rem; }
    .menu a:last-child { padding-right: 0; }
    .menu a:hover { 
        background-color: transparent; 
        color: var(--second-color);
    }
}

/*  ---   MODAL   ---   */

.modal {
    position: fixed;
    z-index: 999;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--black-alpha-color);
    opacity: 0;
    pointer-events: none;
    transition: all 1s;
}

.modal-content {
    position: relative;
}

.modal-close {
    position: absolute;
    top: 1rem;
    right: 1rem;
}

.modal-close svg {
    width: 3rem;
    height: 3rem;
    fill: var(--first-color);
}

.modal[id|="trabajo"]:target { /* Pipe: Busca todo selector que empiece con tal palapbra [trabajo] */
    opacity: 1;
    pointer-events: auto;
}

/*  ---   BARRAS DE PROGRESO   ---   */

progress {
    width: 100%;
    height: 1rem;
    background-color: var(--gray-color);

}

progress::-webkit-progress-bar {
    background-color: var(--gray-color);
}
progress::-webkit-progress-value {
    background-color: var(--gray-dark-color);
}
progress::-moz-progress-bar {
    background-color: var(--gray-dark-color);
}

.progress {
    margin: 1rem auto;
    /* padding: 0 1vw; */
}

.progress > p {
    margin: 0;
    display: flex;
    justify-content: space-between;
    font: 0.85rem;
}




/*   --------------------   UTILITIES   --------------------   */

.avatar {
    border-radius: 50%;
    width: 150px;
    height: 150px;
}

.bg-gray-light {
    background-color: var(--gray-light-color);
}

.box-shadow-1 {
    box-shadow: 0.25rem 0.25rem 1rem rgba(0, 0, 0, 0.25);    
}

.btn {
    border-radius: 5rem;
    padding: 1rem;
    display: inline-block;
    width: 200px;
    font-style: bold;
    text-align: center;
    text-decoration: none;
    color: var(--white-color);
    background-color: var(--first-color);
}

.container {
    margin-left: auto;
    margin-right: auto;
    max-width: var(--max-width);
}

.gray-scale {
    transition: 700ms;
    cursor: pointer;
}
.gray-scale:hover {
    filter: contrast(110%) brightness(110%);
    transform: scale(1.005);
    box-shadow: 1px 1px 5px var(--gray-dark-color);
    transition: 700ms;
}

.none { display: none; }
.section { padding: 2rem 1rem; }

.section-title {
    border-top: thin solid var(--first-color);
    border-bottom: thin solid var(--first-color);
    margin: 2rem auto; /* arriba-abajo / lados*/
    padding: .5rem 1rem;
    max-width: 400px;
    min-width: 250px;
    text-align: center;
    color: black;
}

.text-center { text-align: center; }
.text-left { text-align: left; }
.text-right { text-align: right; }

.text-first-color {
    color: var(--first-color);
}

@media screen and (min-width: 1024px) {
    .full-lg-screen {
        width: 100%;
        min-height: 100vh;
    }
    .text-lg-center { text-align: center; }
    .text-lg-left { text-align: left; }
    .text-lg-right { text-align: right; }
}






/*   --------------------   SITE STYLES   --------------------   */

.about > article {
    margin-bottom: 2rem;
}

.contact-card {
    margin: 1rem auto;
    padding: 1rem;
    width: 100%;
    height: 144px; /* Por nada en particular */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.contact-card > svg {
    width: 2rem;
    height: 2rem;
    fill: var(--first-color);
}

.contact-card  > small {
    margin-top: -1rem;
}

.footer {
    margin-bottom: var(--header-height);
    padding: 1rem;
    text-align: center;
    background-color: var(--first-color);
    color: var(--white-color);
}

.header {
    position: fixed;
    left: 0;
    bottom: 0;
    z-index: 999;
    width: 100%;
    height: var(--header-height);
    background-color: var(--first-color);
}

.header > .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
      padding: 12px;
} 

.logo {
    background-color: var(--first-color);
    /* Para que no se separe mi nombre */
    min-width: max-content;
} 

.logo a {
    color: var(--white-color);
    font-weight: bold;
    font-size: 2rem;
    text-decoration: none;
}

.portfolio-card {
    position: relative;
    width: 100%;
    margin: 0 auto;
    display: block;
    transition: all 350ms;
}

.portfolio-card img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Para que no se deforme la imagen */
}

.portfolio-card-info {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 1rem;
    background-color: var(--first-alpha-color);
    color: var(--white-color);
    opacity: 0;
    pointer-events: none;
}

.portfolio-card:hover .portfolio-card-info {
    opacity: 1;
    pointer-events: auto;
    transition: all 350ms;
}

.portfolio-card-info > div {
    padding: 1rem;
    border: thin solid var(--white-color);
    width: 100%;
    height: 100%;
}

.portfolio-modal {
    padding: 1rem;
    max-width: 300px;
    max-height: 400px;
    font-size: small;
    /* Para asegurar, hacemos redundancia */
      display: flex;
      flex-direction: column;
    background-color: var(--white-color);
}

.portfolio-modal img {
    display: none;
}

.portfolio-modal h3 {
    border-bottom: medium solid var(--first-color);
    margin: 1rem auto;
    padding: .5rem 0;
    color: var(--title-color);
}

.portfolio-details {
    display: grid;
    grid-template-columns: 40% 60%;
    grid-auto-rows: 2rem;
}

.portfolio-details b {
    color: var(--first-color);
}

.service-card {
    margin: 1rem auto;
    padding: 1rem;
    text-align: center;
}

.service-card svg {
    margin-bottom: 1.25rem;
    fill: var(--first-color);
}

.service-card h3 {
    color: var(--title-color);
}

.social-media a {
    text-decoration: none;
    padding: 0 .4rem;
}

.social-media svg {
    width: 1.5rem;
    height: 1.5rem;
}

/*  --  Versión Tablet  --  */
@media screen and (min-width: 768px) {
    .carousel {
        max-width: 600px;
    }

    .slide {
        font-size: medium;
        /* border: thick solid black; */
        min-width: 600px;
    }

    .contact-cards {
        display: grid;
        grid-template-columns: repeat(2, 48%);
        justify-content: space-between;
    }

    .portfolio > .container {
        display: grid;
        grid-template-columns: repeat(2, 50%);
    }

    .portfolio .section-title {
        grid-column: span 2;
    }

    .portfolio-modal {
        flex-direction: row;
        max-width: 800px;
        font-size: medium;
    }

    .portfolio-modal img {
        display: inline-block;
        max-width: 400px;
        max-height: 400px;
    }

    .portfolio-info {
        margin-left: 1rem;
        align-self: center;
    }

    .services > .container {
        display: grid;
        grid-template-columns: repeat(2, 45%);
        justify-content: space-between;
        align-content: center;
    }

    .services > .container > .section-title {
        grid-column: span 2;
    }

    
}

/*  --  Versión Desktop --  */
@media screen and (min-width: 1024px) {
    .carousel {
        max-width: 800px;
    }

    .slide {
        font-size: medium;
        /* border: thick solid black; */
        min-width: 800px;
    }
    
    .about {
        display: grid;
        grid-template-columns: repeat(3, 30%);
        justify-content: space-between;
        align-content: center;
    }

    .contact-cards {
        grid-template-columns: repeat(4, 24%);
    }

    .footer {
        margin-bottom: 0;
    }

    .header {
        position: sticky; /* Se comporta como FIJO cuando llega a la altura definida, NO TAPA otros elementos.*/
        top: 0;
        padding: 0.5rem;
        height: calc(var(--header-height) - 0.5rem);
    }

    /* Para corregir el menu */
    .header > .container {
        padding: 0;
    }

    .portfolio > .container {
        grid-template-columns: repeat(3, 1fr);
    }

   

    .portfolio .section-title {
        grid-column: span 3;
    }

    .services > .container {
        grid-template-columns: repeat(3, 30%);
    }

    .services > .container > .section-title {
        grid-column: span 3;
    }
}